<h1>STUPID COACHING</h1>

<div class="question">
  <p><%= @question %></p>
  <p>--You</p>
</div>

<div class="response">
  <p id="coach-response"><%= @response %></p>
  <p>-Your coach</p>
</div>

<div class="loop">
  <%= link_to "Reposes une question au coach imbécile mais musclé", ask_path %>
</div>
