/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
h1 {
  color: green
}

 .input {
  border: 2px solid gray;
  border-radius: 3px;
 }

 .btn {
  background-color: rgb(188, 188, 251);
  border-radius: 3px;
 }

 .question {
  border-left: 3px solid lightgray;
  padding: 10px;
  color: gray;
  margin: 10px;
 }

 .response {
  border-left: 3px solid lightgray;
  padding: 10px;
  color: gray;
  margin: 10px;
}

 #coach-response {
  font-weight: bold;
  opacity: 0.8;
  color: black;
 }

 .loop {
  margin: 10px;

 }

 .loop a {
  text-decoration: none;
 }
